openapi: 3.0.3
info:
  title: AptarGroup Product Catalog Orders API
  description: API for the AptarGroup product catalog of dispensing, sealing, and active packaging solutions for the beauty, personal care, pharmaceutical, food, and home care markets. Enables partners to browse and integrate product data.
  version: 1.0.0
  contact:
    name: AptarGroup
    url: https://www.aptargroup.com
  license:
    name: Proprietary
servers:
- url: https://api.aptargroup.com/v1
  description: AptarGroup Product Catalog API
security:
- bearerAuth: []
tags:
- name: Orders
  description: Sample and order management
paths:
  /orders:
    post:
      operationId: createSampleRequest
      summary: AptarGroup - Create Sample Request
      description: Creates a sample request for AptarGroup packaging products
      tags:
      - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleRequest'
            examples:
              SampleRequestExample:
                x-microcks-default: true
                summary: Example sample request
                value:
                  productId: APTAR-PUMP-001
                  quantity: 5
                  contactEmail: designer@brand.com
                  notes: Need samples for our new skincare line launch
      responses:
        '201':
          description: Sample request created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid request body
        '401':
          description: Unauthorized - invalid or missing authentication token
components:
  schemas:
    Order:
      title: Order
      description: A created sample order
      type: object
      properties:
        orderId:
          type: string
          description: Unique order identifier
        productId:
          type: string
          description: Product ordered
        status:
          type: string
          enum:
          - pending
          - processing
          - shipped
          - delivered
          description: Order status
        createdAt:
          type: string
          format: date-time
          description: Order creation timestamp
    SampleRequest:
      title: SampleRequest
      description: A request for product samples
      type: object
      properties:
        productId:
          type: string
          description: Product to sample
        quantity:
          type: integer
          description: Number of samples requested
        contactEmail:
          type: string
          description: Contact email for the sample request
        notes:
          type: string
          description: Additional notes about the sample request
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
